<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
    <link rel="stylesheet" href="/Bookbuddy_app/static/css/my_lib.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Account</a></li>
            </ul>
        </nav>
    </header>

    <section class="library-section">
        <h1>My Library</h1>

        <div class="book-category">
            <h2>My Top 3 Books</h2>
            <div class="book-grid">
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/01.jpg" alt="Book 1">
                </div>
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/02.jpg" alt="Book 2">
                </div>
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/03.jpg" alt="Book 3">
                </div>
            </div>
        </div>

        <div class="book-category">
            <h2>Books I want to watch</h2>
            <div class="book-grid">
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/04.jpg" alt="Book 4">
                </div>
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/05.jpg" alt="Book 5">
                </div>
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/09.jpg" alt="Book 5">
                </div>
            </div>
        </div>

        <div class="book-category">
            <h2>Books I have finished</h2>
            <div class="book-grid">
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/06.jpg" alt="Book 6">
                </div>
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/07.jpg" alt="Book 7">
                </div>
                <div class="book">
                    <img src="/Bookbuddy_app/static/images/products/08.jpg" alt="Book 8">
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>