<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/Bookbuddy_app/static/css/profile.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Account</a></li>
            </ul>
        </nav>
    </header>

    <section class="edit-profile">
        <h1>Edit your profile</h1>
        <div class="profile-picture">
            <img src="transparent_avatar.png" alt="Profile Picture">
            <p>Edit picture</p>
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" value="Bookbuddy05">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" id="gender" value="Female">
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <input type="text" id="bio" value="I am rooted, but I flow">
            </div>
            <div class="form-group">
                <label for="birthdate">BirthDate</label>
                <input type="text" id="birthdate" value="22/09/2002">
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="text" id="telephone" value="+39 337865340">
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <input type="text" id="language" value="English">
            </div>

            <h2>Profile Privacy</h2>
            <div class="form-group">
                <label for="privacy">Account Privacy</label>
                <input type="text" id="privacy" value="Private">
            </div>
            <div class="form-group">
                <label for="friends-list">Close friends list</label>
                <input type="text" id="friends-list" value="Cara01, David1998">
            </div>
            <div class="form-group">
                <label for="block-list">Block list</label>
                <input type="text" id="block-list" value="Kevin_04">
            </div>
            <div class="form-group">
                <label for="hide-list">Hide list</label>
                <input type="text" id="hide-list">
            </div>
        </form>
    </section>

    <script src="script.js"></script>
</body>
</html>